.popupContent {
    padding: var(--size-base-x15);
    background-color: var(--color-background-body-primary);
    border-radius: var(--radius-calendar-cell);
    max-width: 1200px;
    max-height: 700px;
    display: flex;
    flex-direction: column;

    overflow: scroll;
}

.li {
    color: var(--color-text-calendar-date-primary-holiday);
}

.subtitle,
.text {
    color: var(--color-text-button-secondary-default);
}

.buttonWrapper {
    align-self: flex-end;
}