.button {
    padding: var(--size-base-x3) var(--size-base-x6);

    width: 100%;
    height: 36px;

    min-width: 103px;
    max-width: 282px;

    background: var(--color-background-button-primary-normal);
    border-radius: var(--border-radius-button-primary);

    font-weight: var(--font-weight-button-primary-base);
    font-size: var(--font-size-button-primary);
    line-height: var(--line-height-button-primary);

    color: var(--color-text-button-primary-normal);

    border: unset;

    cursor: pointer;
}

.button:hover {
    background-color: var(--color-background-button-primary-hover);
}

.button:active {
    background-color: var(--color-background-button-primary-active);
}

.smallButton {
    max-width: 103px;
}

.disabledButton {
    background-color: var(--color-background-button-primary-normal);
    opacity: 0.25;
}

.secondaryButton {
    border-radius: var(--border-radius-button-secondary);
    color: var(--color-text-button-secondary-normal);
    font-weight: var(--font-weight-button-secondary-base);
    font-size: var(--font-size-button-secondary);
    line-height: var(--line-height-button-secondary);
    letter-spacing: var(--letter-spacing-button-secondary);
    background-color: var(--color-background-button-secondary-normal);
}

.secondaryButton:active {
    background-color: var(--color-background-button-secondary-active);
}

.secondaryButton:hover {
    background-color: var(--color-background-button-secondary-hover);
}