.calendar {
    max-width: 1028px;
    position: relative;

    background: #FFFFFF;
    border-radius: 25px;
    padding: 30px 30px 80px 30px;
}

.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    box-sizing: border-box;
    border: 1px solid var(--color-border-calendar-cell-primary-default);
    width: 146.86px;
    height: 141px;

    font-weight: var(--font-calendar-date-large-font-weight);
    font-size: var(--font-calendar-date-large-font-size);
    line-height: var(--font-calendar-date-large-line-height);


    color: var(--color-font-primary);

    padding-top: var(--size-base-x6);
    padding-left: var(--size-base-x6);

    overflow: scroll;
}

.day:last-child {
    border-radius: 0px 0px var(--radius-calendar-cell) 0px;
}

.day:nth-last-of-type(7) {
    border-radius: 0px 0px 0px var(--radius-calendar-cell);
}

.dayHeader {
    box-sizing: border-box;
    border: 1px solid var(--color-border-calendar-cell-primary-default);
    text-align: left;
    width: 146.86px;
    height: 59px;
    font-weight: var(--font-calendar-date-large-font-weight);
    font-size: var(--font-calendar-date-large-font-size);
    line-height: var(--font-calendar-date-large-line-height);

    padding-top: var(--size-base-x6);
    padding-left: var(--size-base-x6);

    color: var(--color-font-primary);
}

.dayHeader:first-child {
    border-radius: var(--radius-calendar-cell) 0px 0px 0px;
}

.dayHeader:nth-child(7) {
    border-radius: 0px var(--radius-calendar-cell) 0px 0px;
}

.pagingButton {
    display: block;
    border: unset;
    cursor: pointer;
    position: absolute;
    background-color: transparent
}

.icon {
    border: solid var(--color-font-primary);
    border-width: 0 2.5px 2.5px 0;
    border-radius: 2px;
    display: inline-block;
    padding: 3px;
    width: 8px;
    height: 8px
}


.pagingButton:first-child {
    left: 40px;

    .icon {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.pagingButton:last-child {
    right: 40px;

    .icon {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}


.caption {
    font-size: var(--font-calendar-title-default-font-size);
    line-height: var(--font-calendar-title-default-line-height);
    color: var(--color-font-secondary);

    margin-bottom: var(--size-base-x10);

    text-align: center;
    text-transform: capitalize;
}

.dayNumber {
    display: block;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border-radius: 50px;
}

.title {
    font-weight: var(--font-calendar-title-secondary-font-weight);
    font-size: var(--font-calendar-title-secondary-font-size);
    line-height: var(--font-calendar-title-secondary-line-height);
    letter-spacing: var(--font-calendar-title-secondary-letter-spacing);
    color: var(--color-font-secondary);
}