.calendarWrapper {}

.calendarContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.pagingButton {
    display: inline-block;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    margin: 12px;
    cursor: pointer;

    &:hover {
        background-color: #334296;
    }
}

.day {
    box-sizing: border-box;
    font-size: 24px;
    padding: 8px;
    background-color: #f0f0f0;
    color: #000;
    border: 2px solid #ffffff;
    width: 146.86px;
    height: 141px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;


    color: #828282;


}

.dayHeader {
    box-sizing: border-box;
    font-size: 24px;
    padding: 8px;
    background-color: #f0f0f0;
    color: #000;
    border: 2px solid #ffffff;
    height: 64px;
    text-align: center;
    font-size: 16px;
    padding-top: 12px;
    width: 146.86px;
    height: 59px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;



    color: #828282;


}

.caption {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #191919;
    text-transform: capitalize;
}

.title {

    width: 1380px;
    height: 38px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;

    /* identical to box height, or 112% */
    letter-spacing: 0.3px;

    color: #191919;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}