.textArea {
    box-sizing: border-box;
    resize: none;
    padding: 8px 10px;

    width: 100%;
    height: 85px;

    background: var(--color-background-input);
    border: 1px solid var(--border-radius-input);
    border-radius: var(--border-radius-input);

    font-weight: var(--font-weight-input);
    font-size: var(--font-size-input);
    line-height: var(--line-height-input);

    color: var(--color-text-base-secondary);
}

.textArea::placeholder {
    color: var(--color-text-input);
}