.eventsWrapper {
  display: inline-flex;
  flex-direction: column;
  row-gap: 5px;
}

.event {
  padding: 3px 4px;
  background: var(--color-background-event-primary-default);
  border-radius: 4px;

  font-weight: var(--font-event-large-font-weight);
  font-size: var(--font-event-large-font-size);
  line-height: var(--font-event-large-line-height);

  color: var(--color-text-event-primary-default);
}

.event:hover {
  color: var(--color-text-event-primary-hover);
  background: var(--color-background-event-primary-hover);
}